
<h5>{{last_update}}Last update <span data-role="date-update"></span></h5>

<br>

<p>{{{interactive_download_welcome}}}</p>

<!--<div class="row">
    <div class="col-xs-12">
        <div data-role="note">
            <h4>{{please_note}}Notes</h4>
            <h5>{{date_update}}Updated on: <span data-role="date-update"></span></h5>
&lt;!&ndash;            <h5>
                <li>Aggregates are the sum of available data.
                <li>For some item aggregates, conversion factors are applied to values when calculating totals. Please see item Metadata for the factors.
            </h5>&ndash;&gt;
        </div>
    </div>
</div>-->

<br>

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-info pull-right" data-role="metadata">
            <i class="fa fa-info-circle"></i> {{metadata}}
        </button>
    </div>
</div>

<div style="padding-top:10px; min-height:300px;" data-role="selectors"></div>

<div class="row">

    <div class="col-lg-7">
        <div data-role="options"></div>
    </div>

    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary pull-right" data-role="export">
                    <i class="fa fa-download"></i> {{download_csv}}
                </button>
                <button class="btn btn-info pull-right" data-role="preview" style="margin-right:5px;">
                    <i class="fa fa-search"></i> {{preview}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="pull-right">
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Comma-separated_values"><i class="fa fa-info-circle"></i> {{what_is_a_csv}}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 pull-right">
    </div>
</div>

<div data-role="output-area"></div>