<script type='text/x-handlebars-template' id='faostat_ui_download_structure'>


    <div class="row">
        <div class="col-xs-12">
            <ul class='nav nav-tabs' role='tablist'>
                <li role='presentation'>
                    <a href='#welcome_page' data-section='welcome' role='tab' data-toggle='tab'
                       aria-controls='welcome_page'>
                        <!--<i class='fa fa-home'></i> -->
                        {{welcome_page_label}}
                    </a>
                </li>
                <li role='presentation'>
                    <a href='#interactive_download' data-section='interactive' role='tab' data-toggle='tab'
                       aria-controls='interactive_download'>
                        <!--<i class='fa fa-download'></i> -->
                        {{interactive_download_label}}
                    </a>
                </li>
                <li role='presentation'>
                    <a href='#bulk_downloads' data-section='bulk' role='tab' data-toggle='tab'
                       aria-controls='bulk_downloads'>
                        <!--<i class='fa fa-archive'></i> -->
                        {{bulk_downloads_label}}
                    </a>
                </li>
                <li role='presentation'>
                    <a href='#metadata' data-section='metadata' role='tab' data-toggle='tab'
                       aria-controls='metadata'>
                        <!--<i class='fa fa-info'></i> -->
                        {{metadata_label}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class='row'>




        <div class='col-md-3'>


            <!--<h1>{{tree_title}}</h1>-->


        <div id='tree'></div>
        <br>
    </div>
    <div class='col-md-9'>


        <h1>
            <span id='group_label'></span> <span id='domain_label'></span>
        </h1>

        <br>


        <div class='tab-content'>

            <!-- Welcome Page -->
            <div role='tabpanel' class='tab-pane' id='welcome_page'>
                <div id='welcome_container'></div>
            </div>

            <!-- Interactive Download -->
            <div role='tabpanel' class='tab-pane' id='interactive_download'>
                <div id='interactive_download_container'></div>
            </div>

            <!-- Bulk Downloads -->
            <div role='tabpanel' class='tab-pane active' id='bulk_downloads'></div>

            <!-- Metadata -->
            <div role='tabpanel' class='tab-pane' id='metadata'>
                <h1 class='text-center' id='metadata_loading'>
                    <i class='fa fa-refresh fa-spin fa-5x'></i>
                </h1>

                <div id='metadata_container'></div>
            </div>

        </div>

    </div>
    <br><br><br><br>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <h1>
                {{preview_label}}
            </h1>

            <div id='download-wrapper' class='fx-olap-holder'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div id='downloadOutputArea' class='fx-olap-holder'>
                            <h2>
                                Preview will be shown here.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='interactive_download_structure'>
    <div class='row'>
        <div class='col-lg-12'>
            <p>
                {{{interactive_download_welcome_text}}}
            </p>
        </div>
    </div>
    <div id='interactive_download_selectors'></div>
    <div class='row'>
        <div class='col-lg-8'>
            <span id='preview_options_placeholder' class='preview_options_placeholder pull-left'>

            </span>
        </div>
        <div class='col-lg-4'>
            <span id='download_options_placeholder' class='pull-right'>

            </span>
            <button class='btn btn-primary pull-right' id='preview_button'>
                <i class='fa fa-search'></i> {{preview_label}}
            </button>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='domains_list_structure'>
    {{#each domains}}
        <div class='row'>
            <div class='col-lg-12'>
                <a href='{{this.link}}'>
                    <i class='fa fa-link'></i> {{this.label}}
                </a>
            </div>
        </div>
        <br>
    {{/each}}
</script>