<script type='text/x-handlebars-template' id='faostat_ui_download_structure'>
    <div class='row'>
        <div class='col-xs-12 col-sm-2 col-md-2 col-lg-2 faostat-download-tree-holder'>
            <div class='standard-title'>FAOSTAT Domains</div>
            <hr class='standard-hr'>
            <div id='left_placeholder' class='left_placeholder'></div>
        </div>
        <div class='col-xs-12 col-sm-10 col-md-10 col-lg-10'>
            <div id='right_placeholder'>
                <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                        <div class='standard-title'>Production > Crops</div>
                        <hr class='standard-hr'>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                        <div id='faostat_ui_download_main_content' class="faostat-download-main-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='faostat_ui_download_group'>
    <div id='metadata_panel'>

    </div>
</script>

<script type='text/x-handlebars-template' id='faostat_ui_download_domain'>
    <div role='tabpanel' id='download_tab_panel'>
        <ul class='nav nav-tabs' role='tablist'>
            <li role='presentation' class='active'>
                <a href='#metadata' aria-controls='metadata' role='tab' data-toggle='tab'>
                    <i class='fa fa-info'></i> {{metadata_label}}
                </a>
            </li>
            <li role='presentation'>
                <a href='#bulk' aria-controls='bulk' role='tab' data-toggle='tab'>
                    <i class='fa fa-archive'></i> {{bulk_label}}
                </a>
            </li>
            <li role='presentation'>
                <a href='#custom' aria-controls='custom' role='tab' data-toggle='tab'>
                    <i class='fa fa-download'></i> {{custom_label}}
                </a>
            </li>
        </ul>
        <div class='tab-content'>
            <div role='tabpanel' class='tab-pane active' id='metadata'>
                <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                        <div id='metadata_placeholder' class="faostat-download-metadata-holder"></div>
                    </div>
                </div>
            </div>
            <div role='tabpanel' class='tab-pane' id='bulk'>
                <div id='bulk_downloads_placeholder'></div>
            </div>
            <div role='tabpanel' class='tab-pane' id='custom'>
                <div id='selectors_placeholder'></div>
                <div class='v-space'></div>
                <div class='row'>
                    <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
                        &nbsp;
                    </div>
                    <div class='col-xs-12 col-sm-2 col-md-2 col-lg-2'>
                        <button class='btn btn-default' id='download_preview_button'>
                            <i class='fa fa-search'></i> {{preview_label}}
                        </button>
                    </div>
                    <div class='col-xs-12 col-sm-2 col-md-2 col-lg-2'>
                        <div id='preview_options_placeholder'></div>
                    </div>
                    <div class='col-xs-12 col-sm-2 col-md-2 col-lg-2'>
                        <div id='download_options_placeholder'></div>
                    </div>
                </div>
                <div class='v-space'></div>
                <div class='v-space'></div>
                <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                        <h3>
                            {{preview_label}}
                        </h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                        <div id='download_output_area'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>